/*Really need to change title to tubbsorigin with the change being an added i.*/
h2{
    font-family:Impact;
    color:black;
}
/* =============
    Gradient fix
    ============ */
body{
    height: 1000px;
}
